{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    {% comment %} <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" defer></script> {% endcomment %}
    <script src="{% static 'app/js/my_scripts.js' %}" defer></script>
</head>
<body>
    <header>

        <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
            <div class="container">
                <a class="navbar-brand fw-bold" href="{%url "mainpage:index"%}">Главная страница</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                
                    <div class="navbar-nav">                    
                        <a class="nav-link {% if request.resolver_match.url_name == "post_list" %}active{% endif %}" href="{% url "mainpage:post_list" %}">Порфолио</a>
                        {% if request.user.is_staff == 1 %}
                            <a class="nav-link {% if request.resolver_match.url_name == 'post_create'  %}active{% endif %}" href="{%url "mainpage:post_create"%} ">Создать пост</a>
                        {% endif %}
                    </div>
                    <div class="navbar-nav ms-auto">
                        {% if request.user.is_authenticated %}
                            <div class="nav-link">Привет {{request.user}}</div>
                            <a class="nav-link" href="{%url "users:logout"%} ">Выйти</a>
                        {% else %}
                        <a class="nav-link {% if request.resolver_match.url_name == 'register'  %}active{% endif %}" href="{%url "users:register"%} ">Регистрация</a>
                        <a class="nav-link {% if request.resolver_match.url_name == 'login'  %}active{% endif %}" href="{%url "users:login"%} ">Войти</a>
                        {% endif %}
                    </div>
                
                </div>
            </div>
        </nav>


    </header>
    {% block content %}{% endblock content %}
    <<footer class="bg-dark text-white py-4">
        <div class="container text-center">
            <p class="mb-0">&copy; 2025 Мое Портфолио. Все права защищены.</p>
        </div>
    </footer>
</body>
</html>